/* ---------- Navbar ---------- */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 8%;
  /* background: rgba(238, 33, 81, 0.932); */
  background: rgba(34, 139, 34, 0.95);
  /* background: rgba(13, 11, 11, 0.983); */
  backdrop-filter: blur(10px);

  z-index: 1000;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffd166;
}

/* ---------- Hamburger ---------- */

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 28px;
  height: 3px;
  margin: 5px 0;
  background: white;
  transition: 0.3s;
}

/* ---------- Mobile ---------- */

@media (max-width: 768px) {
  .navbar {
    padding: 16px 20px;
  }

  .logo {
    font-size: 1.4rem;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    background: #228b22;

    flex-direction: column;

    align-items: center;

    gap: 0;

    overflow: hidden;

    max-height: 0;

    transition: max-height 0.4s ease;
  }

  .nav-links.active {
    max-height: 300px;
  }

  .nav-links li {
    width: 100%;
    text-align: center;
    padding: 18px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}